<ion-view view-title="View Files">
  <ion-content>
    <div class="container">
      <div class="row">
        <h3>Aliquots</h3>
      </div>
      <div class="row">
        <div class="col col-80">
          <h4>Current Aliquot: {{ settings.get('currentAliquot') }}</h4>
        </div>
        <div class="col col-10">
          <button class="button button-clear button-positive">+</button>
        </div>
        <div class="col col-10">
          <button class="button button-clear button-positive">Open</button>
        </div>
      </div>
    </div>
    <div class="row"></div>
  </ion-content>
</ion-view>
