<link href="css/ionic.app.css" rel="stylesheet">
<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear button-assertive" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div id="loginContainer">
            <img id="loginImage" class="alignCenter" src="img/chroni_logo.png">
            <div class="loginForm">
                <form ng-submit="doLogin()">
                    <div class="col-80 col-offset-10 textCenter list">
                        <label class="item item-input loginItem">
                            <i class="icon ion-person placeholder-icon"></i>
                            <input type="text" autocapitalize="off" autocorrect="off" placeholder="Username" ng-model="loginData.username">
                        </label>
                        <label class="item item-input loginItem">
                            <i class="icon ion-locked placeholder-icon"></i>
                            <input type="password" autocapitalize="off" autocorrect="off" placeholder="Password" ng-model="loginData.password">
                        </label>
                        <button id="loginButton" class="button button-block button-positive" type="submit">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
