
<ion-view view-title="Aliquot Table">
    <ion-content id="tableContent" scroll="false">
        <div id="tableButtonDiv" class="alignCenter">
            <button class="button button-small">Aliquot</button>
            <button class="button button-small">Report Settings</button>
        </div>
        <div style="display: flex;">
            <ion-scroll has-bouncing="false" zooming="true" scroll="false" scrollbar-x="false" scrollbar-y="false" style="min-width: {{ columnLengths[0]*10 + 2 }}px; max-width: {{ columnLengths[0]*10 + 2 }}px;">
                <table>
                    <thead>
                        <tr class="tableHead" ng-repeat="row in headerArray">
                            <th class="tableCell" style="min-width: {{ columnLengths[0]*10 }}px; max-width: {{ columnLengths[0]*10 }}px;">
                                {{ row[0] }}
                            </th>
                        </tr>
                    </thead>
                </table>
            </ion-scroll>
            <ion-scroll on-scroll="headerScrollReset()" delegate-handle="headScroll" id="headScroll" has-bouncing="false" zooming="true" scrollbar-x="false" scrollbar-y="false" direction="xy" style="height: {{ headerHeight ? (headerHeight * zoomLevel) + .5 + 'px' : 'auto'; }}">
                <table>
                    <thead class="tableHead">
                        <tr ng-repeat="row in headerArray">
                            <th class="tableCell" ng-if="$parent.$first && !$first" ng-repeat="column in row track by $index" colspan="{{ firstRowColSpans[$index] }}">
                                {{ column }}
                            </th>
                            <th class="tableCell" ng-if="!$parent.$first && !$first" ng-repeat="column in row track by $index" style="min-width: {{ columnLengths[$index] }}em; max-width: {{ columnLengths[$index] }}em;">
                                {{ column }}
                            </th>
                        </tr>
                    </thead>
                </table>
            </ion-scroll>
        </div>
        <div style="display: flex;">
            <ion-scroll has-bouncing="false" zooming="true" direction="y" scrollbar-x="false" scrollbar-y="false" style="height: {{ bodyScrollHeight / zoomLevel }}px; min-width: {{ columnLengths[0]*10 + 2 }}px; max-width: {{ columnLengths[0]*10 + 2 }}px;">
                <table>
                    <tbody id="tableBody">
                        <tr ng-repeat="row in fractionArray">
                            <td class="tableCell" style=" min-width: {{ columnLengths[0]*10 }}px; max-width: {{ columnLengths[0]*10 }}px;">
                                {{ row[0] }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ion-scroll>
            <ion-scroll on-scroll="bodyScrollReset()" delegate-handle="bodyScroll" id="bodyScroll" has-bouncing="false" zooming="true" direction="xy" style="height: {{ bodyScrollHeight / zoomLevel }}px;">
                <table>
                    <tbody id="tableBody">
                        <tr ng-repeat="row in fractionArray">
                            <td class="tableCell" ng-if="!$first" ng-repeat="column in row track by $index" style="min-width: {{ columnLengths[$index] }}em; max-width: {{ columnLengths[$index] }}em;">
                                {{ column }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
