<ion-view view-title="Aliquot Table">
    <ion-content scroll="false">
        <div class="alignCenter">
            <button class="button button-small">Aliquot</button>
            <button class="button button-small">Report Settings</button>
        </div>
        <ion-scroll zooming="true" direction="xy">
            <table>
                <thead>
                    <tr ng-repeat="row in headerArray">
                        <th style="padding: 10px;" ng-if="$parent.$first" ng-repeat="column in row track by $index" colspan="{{ firstRowColSpans[$index] }}">
                            {{ column }}
                        </th>
                        <th style="padding: 10px;" ng-if="!$parent.$first" ng-repeat="column in row track by $index">
                            {{ column }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in fractionArray">
                        <td style="padding: 10px;" ng-repeat="column in row track by $index">
                            {{ column }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </ion-scroll>
    </ion-content>
</ion-view>
