page-aliquots {

    #topContainer {
        flex: 2;
    }

    .flexColumn {
        display: flex;
        flex-direction: column;
    }
    .flexRow {
        display: flex;
        flex-direction: row;
    }
    .flex1 {
        flex: 1;
    }
    .fullHeight {
        height: 100%;
    }
    .alignCenter {
        align-items: center;
    }
    .spaceAround {
        justify-content: space-around;
    }

    ion-card-header {
        background-color: color($colors, primary);
    }

}
